<template>
  <div id="app">

    <div class="container">
      <div class="">

        <!-- Navigation -->
        <nav class="myNav blue accent-3">
          <div class="nav-wrapper container">
              <a id="logo-container" href="#!" class="brand-logo">MatriUnapec</a>
              <ul class="right hide-on-med-and-down">
                  <li><router-link to="/" class="">Inicio</router-link></li>
                  <li><router-link to="/inscripcion" class="">Inscripción</router-link></li>
                  <li><router-link to="/academico" class="">Académico</router-link></li>
                  <li><router-link to="/caja" class="">Caja</router-link></li>
              </ul>
              <!-- Mobile menu activator-->
              <a href="" data-activates="nav-mobile-id" class="button-collapse">
                <i class="material-icons">menu</i>
              </a> 
              <!-- Mobile Links -->
              <ul id="nav-mobile-id" class="side-nav">
                  <li><router-link to="/">Inicio</router-link></li>
                  <li><router-link to="/inscripcion" class="">Inscripción</router-link></li>
                  <li><router-link to="/academico" class="">Académico</router-link></li>
                  <li><router-link to="/caja" class="">Caja</router-link></li>
              </ul>
          </div>
        </nav>
        <!-- Router -->
        <div class="section">
          <router-view/>
        </div>

      </div> 
    </div>

  </div>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style>
#app {
  /*
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  */
}
</style>
