<template>
	<div class="">
		<h5 class="card grey lighten-1" style="padding: 10px;">{{ title }}</h5>
		<p>Componente ping: <Ping/></p>
	</div>
	
</template>

<script>
import Ping from '@/components/Ping';

export default {
	name: 'inicio',
	data(){
		return {
			title: 'Inicio',
		};
	},
	components: {
    Ping
  }
};
</script>