<template>
	<div class="">
		<h5 class="card grey lighten-1" style="padding: 10px;">{{ title }}</h5>

		<div class="row">
			
			<div class="col s12 m5">
				<div class="card grey lighten-5" style="padding: 8px;">
					<h5 class="center">Materias</h5>
					<ul class="collection with-header">
				        <li v-for="materia in materias" class="collection-item">
				        	<div>{{ materia.title }}
				        		<a  v-on:click.prevent="getHorarios(materia.cod)"
				        		   href=""
				        		   class="secondary-content grey-text">
				        		<i class="material-icons">send</i></a>
				        	</div>
				        </li>
			      </ul>
				</div>
			</div>

			<div class="col s12 m7">
				<h5 class="center">Horarios</h5>
					<table class="centered">
				        <thead>
				          <tr>
				          	  <th>-</th>
				              <th>Nombre</th>
				              <th>Día</th>
				              <th>Horarío</th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr v-for="horario in horarios">
				          	<td>
				          		<p style="display: inline-block;">
							      	<input v-on:change="selectSubject" type="checkbox" 
									       class="filled-in" 
									       v-bind:value="horario.id"
									       v-bind:name="horario.title"
									       v-bind:id="horario.id"/>
							  		<label v-bind:for="horario.id"></label>
								</p>
				          	</td>
				            <td>{{ horario.title }}</td>
				            <td>{{ horario.day }}</td>
				            <td>{{ horario.horario }}</td>
				          </tr>
				        </tbody>
				    </table>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios';

export default {
	name: 'inscripcion',
	data(){
		return {
			title: 'Inscripción de Asignaturas',
			materias: [],
			horarios: [
			]
		};
	},
	methods: {
		getSubjects(){
			const path = "http://localhost:5000/materias"
			axios.get(path)
				.then((res) => {
					this.materias = res.data.materias;
				})
				.catch((error) => {
					// eslint-disable-next-line
					console.error(error);
				});
		},
		getHorarios(cod){
			const path = "http://localhost:5000/horarios/" + cod;
			axios.get(path)
				.then((res) => {
					this.horarios = res.data.horarios;
				})
				.catch((error) => {
					// eslint-disable-next-line
					console.error(error);
				});
		},

		selectSubject(e){
			const path = "http://localhost:5000/inscribir/horario";
			let id = e.target.id;
			if (e.target.checked){
				axios.post(path, {"id": id})
					.then((res) => {
						if (res.data){
							Materialize.toast("Horario seleccionado", 3000)
						}
					})
					.catch((error) => {
						// eslint-disable-next-line
						console.error(error);
					});
			} else {
				axios.put(path, {"id": id})
					.then((res) => {
						if (res.data){
							Materialize.toast("Horario eliminado", 3000)
						}
					})
					.catch((error) => {
						// eslint-disable-next-line
						console.error(error);
					});
			}
		}
	},
	created() {
		this.getSubjects();
	},
};
</script>
