/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


div .my_size {
	font-size: 18px;
}


.icon-block {
 	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* Change the padding/rem according to your specs */
.my-btn-small {
    padding: 0 0.9rem;
}

/*
#my-btn-large {
	display: inline-block;
	width: 250px;
}

table.my-table {
	border: 1px solid black;
}

th.my-table-th {
	border: 1px solid black;	
}

td.my-table-td {
	border: 1px solid black;	
}

.clickable-icon {
	cursor: pointer;
}
*/
