<template>
	<div class="card">
		<p>{{ msg }}</p>
		<router-link to="/hello">Go to hello</router-link>
	</div>
	
</template>

<script>
import axios from 'axios';

export default {
	name: 'ping',
	data(){
		return {
			msg: 'klk',
		};
	},
	methods: {
		getMessage(){
			const path = "http://localhost:5000/ping"
			axios.get(path)
				.then((res) => {
					this.msg = res.data;
				})
				.catch((error) => {
					// eslint-disable-next-line
					console.error(error);
				});
		},
	},
	created() {
		this.getMessage();
	},
};
</script>
